/*side bar css */

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #a78bd6;
    z-index: 1;
    transition: all 0.4s ease-in-out;
  }

  .sidebar ul {
    list-style: none;
    padding: 10;
    margin: 50px 0 0 0;
  }

  .sidebar li {
    padding: 20px 0;
    text-align: left;
  }

  .hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
  }

  /* Style the footer */
footer {
	background-color: #2b1055;
	color: #fff;
	padding: 20px;
	text-align: center;
}

/* Style the copyright notice */
footer p {
	margin: 0;
	font-size: 14px;
}
